# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*

# Build output
build/
dist/

# Dependency directories
jspm_packages/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# MongoDB data files
data/db/

# Next.js
.next/
out/

# Typescript
*.tsbuildinfo

# Mac
*.DS_Store

# Windows
*.cab
*.msi
*.lnk
